// General style
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

$gray-light: #ddd;

body {
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

// Header
.header {
    min-height: 100vh;
    padding: 0 20px;

    .img-box {
        display: block;
        width: 150px;
        max-width: 100%;
        height: auto;
        max-height: 150px;
        border-radius: 50%;
        overflow: hidden;
    }

    .text-box {
        color: $gray-light;
        
        h1 {
            font-size: 32px;
            font-weight: 600;
            margin: 30px 0 15px;
            font-family: "Roboto Slab", serif;
        }
    }

    .list {
        li {
            margin: 4px 8px;

            a {
                font-size: 22px;
                color: $gray-light;

                &:hover,
                &:focus {
                    color: var(--bs-gray);
                }
            }
        }
    }
}
